<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carpark.mapper.OperatadminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.neu.carpark.entity.Operatadmin">
        <id column="opad_id" property="opadId" />
        <result column="opad_act" property="opadAct" />
        <result column="opad_pwd" property="opadPwd" />
        <result column="opad_carpid" property="opadCarpid" />
    </resultMap>

</mapper>
