.parknum_gray,.parknum_green,.parknum_red,.parknum_orage{
	color: #FFFFFF;
	height: 110px;
	width: 22%;
}

.parknum_gray{
	background: #999999;
	margin-right: 4%;
}

.parknum_green{
	background: #2A9D8F;
	margin-right: 4%;
}

.parknum_red{
	background: #e76f51;
	margin-right: 4%;
}

.parknum_orage{
	background: #f4a261;
}
.pnum_p{
	font-size: 80px;
	margin-right: 27%;
	border-radius:20px;
	border:2px solid #FFFFFF;
}
.pnum_n{
	font-size: 60px;
}
.parknum_tips{
	text-align: center;
	font-weight: 700;
	margin-top: 15px;
}
.parkechart{
	margin-top: 75px;
}
#pe_echart{
	border-top: #e7eaec solid 3px;
	background: #FFFFFF;
	height: 400px;
}

.pe_meg,.pf_meg{
	border-top: #e7eaec solid 3px;
	background: #FFFFFF;
	width: 22%;
	margin-left: 3%;
	padding: 0;
}

.pem_month{
	padding: 8px 15px;
	text-align: right;
	font-size: 17px;
	font-weight: 700;
	border-bottom: #e7eaec solid 1px;
}

.pem_month span{
	background: #2A9D8F;
	color: #FFFFFF;
	padding: 2px;
	border-radius: 3px;
}
.pem_user{
	padding: 16px 15px;
	border-bottom: #e7eaec solid 1px;
}
.pem_userp1{
	margin: 0;
	font-size: 20px;
	font-weight: 600;
	color: #999999;
}
.pem_userp2{
	margin: 0;
	font-size: 28px;
	text-align: right;
	font-weight: 600;
	color: #999999;
}
.pem_userp3{
	margin: 0;
	font-size: 13px;
	font-weight: 600;
	text-align: right;
}

.parkfunds{
	margin-top: 50px;	
}

#pf_echart{
	border-top: #e7eaec solid 3px;
	background: #FFFFFF;
	height: 250px;
}
.pfm{
	padding: 20px 15px;
	border-bottom: #e7eaec solid 1px;
}
.pfm_p1{
	margin: 0;
	font-size: 25px;
	font-weight: 600;
	color: #999999;
}
.pfm_p2{
	margin-top: 65px;
	margin-bottom: 0;
	font-size: 32px;
	text-align: right;
	font-weight: 600;
	color: #999999;
}
.pfm_p3{
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 700;
	text-align: right;
}